@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

:root {
  --base-input-shadow: 0px 3px 6px rgba(110, 117, 138, 0.12),
    0px 0px 0px 1px rgba(110, 117, 138, 0.24);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.App {
  height: 100vh;
}

.background {
  position: absolute;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/grid.png");
  background-size: cover;
  opacity: 0.25;
}

.card {
  border: 1px solid rgba(110, 117, 138, 0.24);
  box-shadow: 0px 3px 24px 8px rgba(37, 37, 46, 0.06);
}

.icon-card {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border: 2px solid rgba(110, 117, 138, 0.24);
}

button:disabled {
  cursor: not-allowed;
}

.btn-primary {
  box-shadow: 0px 1px 2px rgba(37, 37, 46, 0.08);
  transition: all 150ms ease-out;
}

.btn-primary:hover {
  background: #313139;
  box-shadow: 0px 3px 12px 6px rgba(37, 37, 46, 0.08);
}

.btn-primary:active {
  background: #000;
  box-shadow: 0px 1px 2px rgba(37, 37, 46, 0.08);
}

.btn-primary:disabled:hover {
  background: theme("colors.main-black");
  box-shadow: 0px 1px 2px rgba(37, 37, 46, 0.08);
}

.btn-primary:disabled:active {
  background: theme("colors.main-black");
  box-shadow: 0px 1px 2px rgba(37, 37, 46, 0.08);
}

.btn-secondary {
  border: 1px solid rgba(110, 117, 138, 0.24);
  transition: all 150ms ease-out;
}

.btn-secondary:hover {
  background: #efefef;
}

.btn-secondary:active {
  background: #dedede;
}

.btn-secondary:disabled:hover {
  background: theme("colors.light-gray");
}

.btn-secondary:disabled:active {
  background: them("colors.light-gray");
}

.input-primary {
  box-shadow: 0px 3px 6px rgba(110, 117, 138, 0.12),
    0px 0px 0px 1px rgba(110, 117, 138, 0.24);
}

.input-primary:focus {
  outline: none;
}

.select-btn {
  box-shadow: var(--base-input-shadow);
}

.select-btn[data-placeholder] {
  color: theme("colors.blue-gray");
}

.select-content {
  box-shadow: var(--base-input-shadow);
  border-radius: 6px;
  /* box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.08),
    0px 0px 0px 1px rgba(110, 117, 138, 0.24); */
}

.select-item {
  /* height: 25px; */
  padding: 0 35px 0 25px;
  /* left: 25px; */
  /* left: 0;
  right: 0; */
  width: 100%;
}

.select-item:hover {
  background: theme("colors.light-gray-600");
}

.tag {
  transition: all 150ms ease-in;
}

.tag:hover {
  background: rgba(110, 117, 138, 0.3);
}

.tag:active {
  background: rgba(110, 117, 138, 0.24);
}

.left-img {
  border-radius: 0 6px 6px 0;
}

/* Table Styles */
table {
  width: 95%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px rgba(110, 117, 138, 0.24),
    0px 3px 24px 8px rgba(37, 37, 46, 0.06);
  overflow: hidden;
  font-size: 16px;
}

th {
  background: theme("colors.light-gray");
  color: theme("colors.main-black");
  font-weight: 700;
}

th,
td {
  text-align: left;
  height: 40px;
  padding: 0 12px;
  border: 1px solid theme("colors.light-gray-24");
  color: theme("colors.main-black");
}

th {
  border-top: none;
}

td {
  border-bottom: none;
}

tr th:first-child,
td:first-child {
  border-left: none;
}

tr th:last-child,
td:last-child {
  border-right: none;
}

/*  */

/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.SelectTrigger:hover {
  background-color: var(--mauve3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectIcon {
  color: Var(--violet11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet9);
  color: var(--violet1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}
